.ding{
    position: relative;
    /*width:261px;*/
    /*height:206px;*/
}
.mask{
    width:264px;
    height:208px;
    /*background: rgba(0, 0, 0, 0.4);*/
    position: absolute;
    top:0;
    text-align:center;
    line-height:206px;
    font-weight:bold;
    color:#d69720;
    font-size:38px;
    z-index:10;
    cursor: pointer;
    /*display:none;*/
}

.ding:hover .mask{
    display:block;
}
